{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/Mensajeria.jpg' %}" alt="">  
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Confía en nosotros</span>
          <span class="section-heading-lower">Calidad Total</span>
        </h2>
        <p class="mb-3">Garantizamos nuestras entregas. El servicio es de la mejor calidad y amabilidad, al mejor precio del mercado.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="/storte/">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">Estamos a su servicio para todo lo referente a mensajería, nuestro primer trabajo le demostrará la confianza que puede depositar en nosotros, contamos con garantía de entrega rápida en sus compras y encomiendas dentro de Huehuetenando, Guatemala y Estados Unidos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}